body{
    font-family:  'Roboto', sans-serif;
}
h1{
    font-family: 'Architects Daughter', cursive;
}

header .logo{
    text-align: center;
}
.logo img{
    width: 300px;
}

nav, footer, .dropdown-menu{
    /*background-color: rgb(223, 130, 145);*/
    background-color: rgb(117, 65, 115);
}

nav ul li{
    margin-left: 15px;
}

.nav-link, .dropdown-item{
    color: white !important;
    font-size: 20px;
}
.nav-link:hover, .dropdown-item:hover{
    background-color: rgb(97, 49, 110) !important;
    border-radius: 3px;

}

h1{
    text-align: center;
    text-transform: uppercase;
}

.trait{
    width: 400px;
    border-bottom: 2px solid black;
 
}

.reseaux-sociaux a{   
    color: white;
}
.reseaux-sociaux a:hover{   
    color: rgb(255, 89, 247);
}

/***********************************************************/


.bloc	{
position: relative;
border-bottom: 2px dotted grey ;
margin-top: 30px;
}
.gauche, .droite{
position: absolute;
top: -1em;
background: #fff ;
}
.gauche{
float: left ;
left:0;
}
.droite {
float: right ;
right:0;
}
.details{
    margin-top: -15px;
    
}

.picture img{
    width: 100%;
    height: 300px;
    box-shadow: 1px 1px 12px #555;
    border-radius: 3px;
}
.pic-title{
    width: calc(100% - 30px);
    height: 50px;
    display: none;
    position: absolute;
    bottom: -16px;
    text-align: center;
    color: white;
    background-color: rgba(26, 24, 24, 0.699);
}

hr{
    background-color: white;
    width: 200px;
    height: 1px;
} 

footer a{
    color: white;
}
footer a:hover{
    color: rgb(221, 216, 216);
}

.contact ul{
    list-style: none;
}

  .tarif{
      background-color: white;
      margin-top: -150px;
      box-shadow: 1px 1px 12px rgb(158, 158, 158);
      border-radius: 5px;
  }

  .contact-form{   
    background-color: white;
    margin-top: -110px;
    box-shadow: 1px 1px 12px rgb(158, 158, 158);
    border-radius: 5px;
  }

 .btn{
      background-color: rgb(117, 65, 115);
      color: white;
  }
  .btn:hover{
    background-color: rgb(167, 102, 164);
    color: white;
}

  .entete{
    background-color: rgb(236, 233, 233);
    text-align: center;
    height: 300px;
}

.imageheader{
    width: 100%;
    height: 200px;
    background-image: url(../images/ih.jpg);
     background-attachment: fixed;
    
    background-size: 100% 100%;
    margin-top: -55px;    
    overflow: hidden;
    position: relative;
  }

  .presentation{
    background-color: white;
     
}
.image-accueil img{
    box-shadow: 1px 1px 12px rgb(158, 158, 158); 
}

footer{
    margin-top: 200px;
}


            