{% extends 'base.html.twig' %}

{% block title %}Formulaire galerie{% endblock %}

{% block content %}
<h1>Ajouter une photo</h1>
<div class="container col-6">
{{ form(galerieForm) }}
</div>
{% endblock %}
