{% extends 'base.html.twig' %}

{% block title %}Formulaire tarifs{% endblock %}

{% block content %}
<h1>Ajouter un tarif</h1>
<div class="container col-6 col-sm-12">
{{ form(tarifForm) }}
</div>
{% endblock %}
