{% extends 'base.html.twig' %}

{% block title %}Page non trouvé{% endblock %}

{% block content %}

    <div class="container my-5">
        <h1>Oups ! La page que vous recherchez n'existe pas ! </h1>
        <p> Vous pouvez retourner à l'accueil.
        <a href="{{ path('homepage') }}" class= "btn">Retour à l'accueil</a>
    </div>
{% endblock %}